/* * {
    margin: 0;
    padding: 0;
}
  
*:focus {
    outline: none;
    text-decoration: none;
} */

@media screen and (max-width:800px) {
    #menu {
        display: none;
    }
    #menuIcon {
        display: block;
    }
}

@media screen and (min-width: 801px) {
    #menu {
        display: inline;
    }
    #menuIcon {
        display: none;
    }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(235,164,3); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(17,71,61); 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(17,71,61);
}

/* .hidden {
    display: none;
} */

/* #menuIcon {
    float: right;
} */

#navMain {
    background-color: rgb(17,71,61);
}

.navbar-brand {
    /* create media query for size */
}

#titleLogo {
    background-color: white;
    /* color: green;
    background-color: rgb(235,164,3);
    border: 1px solid blue; */
    border-radius: 5px;
    text-decoration: none;
    width: 95px;
    box-shadow: 4px 5px rgb(0, 0, 0, 0.2);
}

/* .list {
    display: inline;
    justify-content: center;
    margin: 10px 0;
    padding: 5px;
} */

#navbarNavAltMarkup {
    /* border: 1px solid white;
    display: inline; */
    justify-content: right; 
}

#hamButton {
    border-color: rgb(216,181,154);
    border-width: 0.15em;
    color: rgb(17,71,61);
}

#spanIcon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(216,181,154)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#hamburgerList {
    /* border: 1px solid white;
    border-radius: 15px;
    padding: 5px; */
    margin-right: 50px;
    float: right;
}

@media screen and (max-width: 769px) {
    #navMain {
        background-color: rgb(17,71,61, 0.45);
    }

    #hamburgerList {
        margin-right: 10px;
        background-color: rgb(17,71,61);
        border: 1px solid rgb(17,71,61);
        border-radius: 15px;
        padding: 5px;
    }

    .links {
        
    }
}

.links {
    background-color: rgb(216,181,154);
    color: rgb(17,71,61);
    border: 2px dashed white;
    border-radius: 5px;
    margin: 5px 10px;
    font-weight: 600;
    font-size: 1.3em;
    font-family: "Roboto-Slab", sans-serif;
    text-decoration: none;
    max-width: 100px;
    text-align: center;
    padding: 0px 4px;
}

.links:hover {
    text-decoration: none;
    color: rgb(17,71,61);
}

/* .navbar {
    background-color: rgb(17,71,61);
    margin-bottom: 150px;
    position: fixed;
    top: 0;
} */


/* .menuBars {
    border: 2px solid white;
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    border-radius: 5px;
} */

/* BODY BEGINS */

#mainBody {
    /* margin-top: 120px; 
    padding-top: 80px; 
    background: url("https://res.cloudinary.com/learicist/image/upload/v1669929665/BerkshireProject/group5.jpg") no-repeat center center fixed; 
    min-height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-color: rgb(216,181,154);
}

#topRow {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    /* background-color: rgb(216,181,154);
    background-color: rgb(235,164,3);
    border: 1px solid black; */
}

/* MEDIA QUERY TO HIDE PLACEHOLDER DIV UNDER CERTAIN WIDTH */

.picsDivs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 60px 0;
    border-radius: 15px;
    /* padding: 20px 0;
    background-color: rgb(235,164,3);
    margin-top: 200px;
    border: 1px solid black;
    margin-bottom: 150px; */
}

.pics {
    width: 65%;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.4);
    /* border: 1px solid black; */
}

/* SECOND ROW */

#secondRow {
    /* background-color: rgb(235,164,3); 
    background-color: rgb(216,181,154); */
    text-align: justify;
    display: flex;
    justify-content: center;
}

#mission {
    margin: 2% 0;
    color: rgb(17,71,61);
    background-color: rgb(235,164,3);
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
    font-family: "Roboto-Slab", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 25px 20px;
}

/* THIRD ROW */

#thirdRow {
    /* background-color: rgb(235,164,3); 
    background-color: rgb(216,181,154); */
    text-align: center;
    display: flex;
    justify-content: center;
}

#pics3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* FOURTH ROW */

#fourthRow {
    /* background-color: rgb(235,164,3); */
    background-color: rgb(235,164,3);
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(17,71,61);
}

#socialDivParent {
    display: flex;
    align-items: center;
}

#socialDiv {
    border: 4px dotted rgb(17,71,61, 0.6);
    border-radius: 15px;
    padding: 15px 20px;
    margin: auto;
    display: inline-block;
}

.socialLinks, .socialLinks:hover{
    text-decoration: none;
    color: rgb(17,71,61);
    margin: 0 25px;
    /* border: 1px solid white; */
}

#contact {
    border-radius: 15px;
    border: 4px dotted rgb(17,71,61, 0.6);
    padding: 15px 0;
    margin: 10px 0;
    /* margin-left: 50px; */
}

/* REMOVE MARGINS AND PLACE HIDDEN DIV TO SEPARATE THE TWO
FIX HEIGHT OF SOCIAL DIV */

#contactForm {
    /* border: 1px solid white;
    border-radius: 15px; */
    list-style: none;
}

.formInput {
    margin: 10px 0;
    font-family: "Roboto-Slab", sans-serif;
    background-color: rgb(17,71,61);
    color: rgb(235,164,3);
    border-radius: 15px;
    border: 2px inset rgb(17,71,61);
    padding: 5px 10px;
    width: 70%;
}

.formInput::placeholder {
    color: rgb(235,164,3);
    text-align: center;
    font-family: "Roboto-Slab", sans-serif;
}

#message {
    height: 100px;
    width: 80%;
}

#submit {
    margin: 10px 0;
    font-family: "Roboto-Slab", sans-serif;
    background-color: rgb(17,71,61);
    color: rgb(235,164,3);
    border-radius: 15px;
    border: 2px inset rgb(17,71,61);
    padding: 5px 10px;
    width: 40%;
}

/* FOOTER */

#foot {
    background-color: rgb(17,71,61);
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

#copyTagDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

#copyTag {
    color: white;
    /* border: 1px solid white; */
    font-family: "Roboto-Slab", sans-serif;
}